body {
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
    font-family: "Roboto";
}

a {
    color: #e5e7eb;
    text-decoration: none;
    font-size: 18px;
    font-weight: 300;
}

h1 {
    color: #F9FAF8;
}

p {
    font-size: 18px;
    font-weight: 300;
    color: #e5e7eb;
}

#header-logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 500;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    align-items: center;
    padding-left: 64px;
    padding-right: 64px;
}


.links {
    display: flex;
    gap: 24px;
}

.hero {
    display: flex;
    gap: 64;
    justify-content: space-between;
    padding-top: 64px;
    background-color:#1F2937;
    padding-bottom: 64px;
}

.hero-text {
    padding-left: 64px;
    width: 400px;
}

.hero-image {
    display: flex;
    padding-right: 64px;
    width: 400px;
    align-items: center;
    justify-content: end;
}

.placeholder {
    padding: 64px;
    background-color: #898989;
    z-index: 9;
    position: relative;
}

#placeholder-text {
    color: white;
    z-index: 10;
    position: relative;
}


