body {
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
    font-family: "Roboto";
}

a {
    color: #e5e7eb;
    text-decoration: none;
    font-size: 18px;
    font-weight: 300;
}

h1 {
    color: #F9FAF8;
}

h2 {
    text-align: center;
}

p {
    font-size: 18px;
    font-weight: 300;
    color: #e5e7eb;
}

#header-logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 500;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    align-items: center;
    padding-left: 64px;
    padding-right: 64px;
}


.links {
    display: flex;
    gap: 24px;
}

.hero {
    display: flex;
    gap: 64;
    justify-content: space-between;
    padding-top: 64px;
    background-color:#1F2937;
    padding-bottom: 64px;
}

.hero-text {
    padding-left: 64px;
    width: 400px;
}

.hero-image {
    display: flex;
    padding-right: 64px;
    width: 400px;
    align-items: center;
    justify-content: end;
}

.placeholder {
    padding: 64px;
    background-color: #898989;
    z-index: 9;
    position: relative;
}

#placeholder-text {
    color: white;
    z-index: 10;
    position: relative;
}

#hero-button {
    background-color: #3882F6;
    border: none;
    padding: 8px 24px;
    color: white;
    border-radius: 8px;
}

.info {
    padding-top: 24px;
    margin-bottom: 24px;
}

.boxes {
    margin-top: 36px;
    display: flex;
    justify-content: center;
    gap: 32px;
}

.box {
    text-align: center;
    width: 175px;
}

.rectangle {
    width: 175px;
    height: 175px;
    background-color: white;
    outline-color: #3882f6;
    outline-style: auto;
    border-radius: 15px;
}

#black-text {
    color: black;
}

.quote {
    background-color: #e5e7eb;
    padding-top: 50px;
    padding-bottom: 50px;
}

.main-quote-box {
    display: flex;
    justify-content: center;
}

#main-quote {
    width: 600px;
    font-size: 26px;
    font-style: italic;
    color: #1f2937;
    font-weight: 300;
}

.secondary-quote-box {
    display: flex;
    justify-content:center
}

#secondary-quote {
    font-size: 16x;
    color: #1f2937;
    font-weight: 300;
    margin-left: 250px;
    margin-top: -30px;
    font-weight: 600;
}